<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>《废墟圈地记》需要获取您的位置来显示您在末日世界中的坐标，帮助您探索和圈定领地。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>《废墟圈地记》需要访问麦克风以录制语音消息，让您在通讯频道中发送语音呼叫。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.543177723124-julp6djiaa8e06je0c99gi518tct7v5n</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>543177723124-julp6djiaa8e06je0c99gi518tct7v5n.apps.googleusercontent.com</string>
</dict>
</plist>
